@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Noto+Sans+KR:wght@100..900&family=Pacifico&display=swap');


body{
	width:1000px;
	margin:0 auto;
	background:#FFF;
}
.page-main{
	background:#FFFFFF;
	margin:40px 0;
	min-height:650px;
}
.content-main{
	padding:10px 20px;
}
/*신고*/
.hide {
	display:none; 
	width:600px !important;
	position:fixed;
	z-index:999 !important;
	bottom:400px;
	margin-bottom:400px;
	border:1px solid #999 !important;
	background:white;
}




/* 정렬 */
.align-left{
	text-align:left;
}
/* 최상단 nav 바 */
#mini_nav{
	float:right;
}
#mini_nav ul{
	list-style:none;
	margin-right:10px;
	padding:0;
}
#mini_nav ul li{
	display:inline-block;
	text-align:center;
	vertical-align:middle; 
	padding-top:10px;
	margin-right:8px;
}
.nav:visited, .nav:link, .inner-menu a{
	text-decoration:none;
	color:#336633;
}

.nav:visited, .nav:visited, .inner-menu a{
	text-decoration:none;
	color:#336633;
} 
.nav:visited, .top-nav:link, .inner-menu a{
	text-decoration:none;
	color:#336633;
}

.nav:visited, .top-nav:visited, .inner-menu a{
	text-decoration:none;
	color:#336633;
}


#main_logo a{
	font-size:40px;
	font-weight:bold;
}
#main_logo a img{
	margin-right:10px;
}
#main_logo ul{
	list-style:none;
	display:flex;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: space-between;  
}
#main_logo ul li{
	margin-top:10px;
}
#main_logo ul li:first-child {
	margin-right:auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#main_logo ul li:nth-child(2){
	margin-left: auto;
	margin-right:10px;
	margin-top:32px;
}
#main_logo ul li:last-child{
	margin-right:45px;
	margin-top:32px;
}


/* nav */
.click-image{
cursor: pointer;	

}

.main-nav-container{
	text-align:center;
}

#main_nav{
	margin:0 auto;
	margin-top:30px;
	padding:20px 0;
	list-style:none;
	text-align:center;
	display:table;
}
#category_items{
	margin:0;
	padding:0;
	list-style:none;
}

#main_nav > li{
	float:left;
	height:40px;
	vertical-align: middle;
	display: table-cell;
	border-top:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
}
#main_nav > li:hover{
	background:#336633;
}
#main_nav > li:hover > a{
	color:#FFF;
}

#main_nav > li > a{
	font-size:1.15rem;
	text-align:center;
	text-decoration:none;
	letter-spacing:0.05rem;
	display:block;
	width:160px;
	padding:8px 2px;
}
#category_items{
	position:absolute;
	background:white;
	text-align:center;
	/* display:none; */
	border-radius:0 0 7px 7px;
	
	display: block;
    visibility: hidden;
	opacity:0.1;
	transform:translateY(-10%);
	transition:opacity 0.8s ease, transform 0.5s ease;
	
}
#category_items > li{
	padding:9.5px 33px;
	text-decoration:none;
	box-sizing:border-box;
}
#category_items > li a{
	color:#336633;
}
#main_nav > li:hover #category_items{
	display:block;
	visibility:visible;
	z-index:100;
	opacity:1;
	transform:translateY(0);
	transition:opacity 0.8s ease, transform 0.5s ease;
}
#main_nav:first-child:hover #category_items{
	box-shadow:0 0 4px rgba(0, 0, 0, 0.5);
}

#category_items > li:hover{
	background:#336633;
	border:1px solid #C5DEDA;
	border-radius:5px;
	padding:8.5px 32px;
	transition:border 0.2s ease;
}
#category_items > li:hover a{
	color:#f0eded;
}

/* 도서 */
:root {
    --btn-width : 160px;
    --btn-height : 40px;
    --menu-height : calc(var(--btn-height) * 11);
    --menu-min-height : calc(var(--btn-min-height) * 2);
    --font-size : 1vw;
}

#container {
    position: relative;
    display: flex;
    flex-flow: column;
} 
#label {
    width: var(--btn-width);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
	color:#336633;
	z-index:999;
}
#label:hover{
	color:#FFF !important;
	cursor:pointer;
}

#menu {
    width: var(--btn-width);
    min-width: var(--btn-min-width);
    height: 0;
    background-color: whitesmoke;
    border-radius: var(--border-rad);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index:997;
    margin:0px;
    padding:0px;
}

	
#toggle:checked ~ #menu{
    height: var(--menu-height);
    min-height: var(--menu-min-height);
    opacity: 1;
    color:#FFF;	
    
}
.menu-name {
    width: var(--btn-width);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: 50;
    	
}
#menu-item{
	margin-bottom:10px;
	
}
ul {
	list-style:none;
	padding:0;
}

ul li,a{
	text-decoration: none;
	color: rgb(0,0,0);
}
 
/* 글꼴 */

*{
	font-family: 'Noto Sans KR', serif;
} 
#doread{
	font-family: 'Pacifico', serif;
}

#photo_btn{
	display:none;
}


