@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Noto+Sans+KR:wght@100..900&family=Pacifico&display=swap');


body{
	
	width:1000px;
	margin:0 auto;
	background:#FFF;
}
.page-main{
	background:#FFFFFF;

	min-height:650px;
}
.content-main{
	padding:0 20px;
}
/*신고*/
.hide {
	display:none; 
	width:600px !important;
	position:fixed;
	z-index:999 !important;
	bottom:400px;
	margin-bottom:400px;
	border:1px solid #999 !important;
	background:white;
}




/* 정렬 */
.align-left{
	text-align:left;
}
/* 최상단 nav 바 */
#mini_nav{
	float:right;
}
#mini_nav ul{
	list-style:none;
	margin-right:10px;
	padding:0;
}
#mini_nav ul li{
	display:inline-block;
	text-align:center;
	vertical-align:middle; 
	padding-top:10px;
	margin-bottom:30px;
	margin-right:8px;
}
.nav:visited, .nav:link, .inner-menu a{
	text-decoration:none;
	color:#336633;
}

.nav:visited, .nav:visited, .inner-menu a{
	text-decoration:none;
	color:#336633;
} 
.nav:visited, .top-nav:link, .inner-menu a{
	text-decoration:none;
	color:#336633;
}

.nav:visited, .top-nav:visited, .inner-menu a{
	text-decoration:none;
	color:#336633;
}


#main_logo a{
	font-size:40px;
	font-weight:bold;
}
#main_logo a img{
	margin-right:10px;
}
#main_logo ul{
	list-style:none;
	display:flex;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: space-between;  
}
#main_logo ul li{
	margin-top:10px;
}
#main_logo ul li:first-child {
	margin-right:auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#main_logo ul li:nth-child(2){
	margin-left: auto;
	margin-right:10px;
	margin-top:32px;
}
#main_logo ul li:last-child{
	margin-right:45px;
	margin-top:32px;
}


/* nav */
.click-image{
cursor: pointer;	

}

.main-nav-container{
	text-align:center;
}

#main_nav{
	margin:0 auto;
	margin-top:30px;
	padding:20px 0;
	list-style:none;
	text-align:center;
	display:table;
}
#category_items{
	margin:0;
	padding:0;
	list-style:none;
}

#main_nav > li{
	float:left;
	height:40px;
	vertical-align: middle;
	display: table-cell;
	border-top:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
}
#main_nav > li:hover{
	background:#336633;
}
#main_nav > li:hover > a{
	color:#FFF;
}

#main_nav > li > a{
	font-size:1.15rem;
	text-align:center;
	text-decoration:none;
	letter-spacing:0.05rem;
	display:block;
	width:160px;
	padding:8px 2px;
}
#category_items{
	position:absolute;
	background:white;
	text-align:center;
	/* display:none; */
	border-radius:0 0 7px 7px;
	
	display: block;
    visibility: hidden;
	opacity:0.1;
	transform:translateY(-10%);
	transition:opacity 0.8s ease, transform 0.5s ease;
	
}
#category_items > li{
	padding:9.5px 33px;
	text-decoration:none;
	box-sizing:border-box;
}
#category_items > li a{
	color:#336633;
}
#main_nav > li:hover #category_items{
	display:block;
	visibility:visible;
	z-index:100;
	opacity:1;
	transform:translateY(0);
	transition:opacity 0.8s ease, transform 0.5s ease;
}
#main_nav:first-child:hover #category_items{
	box-shadow:0 0 4px rgba(0, 0, 0, 0.5);
}

#category_items > li:hover{
	background:#336633;
	border:1px solid #C5DEDA;
	border-radius:5px;
	padding:8.5px 32px;
	transition:border 0.2s ease;
}
#category_items > li:hover a{
	color:#f0eded;
}

/* 도서 */
:root {
    --btn-width : 160px;
    --btn-height : 40px;
    --menu-height : calc(var(--btn-height) * 16);
    --menu-min-height : calc(var(--btn-min-height) * 2);
    --font-size : 1vw;
}

#container {
    position: relative;
    display: flex;
    flex-flow: column;
} 
#label {
    width: var(--btn-width);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
	color:#336633;
	z-index:999;
}
#label:hover{
	color:#FFF !important;
	cursor:pointer;
}

#menu {
    width: var(--btn-width);
    min-width: var(--btn-min-width);
    background-color: whitesmoke;
    border-radius: var(--border-rad);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
    margin:0px;
    padding:0px;
}
	
#toggle:checked ~ #menu{
    height: var(--menu-height);
    min-height: var(--menu-min-height);
    opacity: 1;
    color:#FFF;
}
.menu-name {
    width: var(--btn-width);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1vw;
    font-weight: 50;
    	
}
ul {
	list-style:none;
	padding:0;
}

ul li,a{
	text-decoration: none;
	color: rgb(0,0,0);
}
/*  */
.dropdown{
  position : relative;
  display : inline-block;
  width : 160px;
  height: 40px;
  margin-top:8px;
  font-size:18px;
  color:#336633;
}

.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  margin-top:8px;
  
}

.dropdown-content a{
  display : block;
  width : 160px;
  height: 40px;
}
.dropdown:hover {
	color:white;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color:whitesmoke;
}
 
/* 글꼴 */

*{
	font-family: 'Noto Sans KR', serif;
} 
#doread{
	font-family: 'Pacifico', serif;
}

#photo_btn{
	display:none;
}


.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
/*------ Settings ------*/
.container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .chevron-right {
  position: absolute;
  animation: keyframes-return .5s backwards;
}

/* ------ On check event ------ */
#rightside{
  animation: keyframes-rotate .5s backwards;
  transform: rotate(180deg);
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}

/**/
.wrapper1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
   transform: rotate(220deg);
   position:fixed;
 
   top:83%;
   left:90%;
}

footer .demo {
  position: absolute;
  bottom: 10px;
  width: 500px;
  margin: 0 auto;
}

footer .demo a {
  text-align: center;
  color: #000;
  text-decoration: none;
  font-weight: 100;
  border-bottom: 1px solid #000;
}

.circle {
  display: block;
  position: relative;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--white);
  transition: 0.2s;
  text-align: center;
}

.circle:active {
  transform: scale(0.9);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
}

.circle:hover {
  cursor: pointer;
  background-color: var(--af-white);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

.circle .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  transform: rotate(140deg);
}

.circle svg image {
  filter: brightness(50%);
}

.sub-circle {
  z-index: 0;
  position: absolute;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0.5);
  opacity: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.sub-circle label {
  background-color: var(--af-white);
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 40px;
  transition: .5s;
}

.sub-circle label:hover {
  cursor: pointer;
  background-color: var(--ch-white);
}

.subs {
  left: -20px;
  top: -50px;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

.hidden-sub-trigger {
  display: none;
}

.hidden-sub-trigger:checked ~ label {
  background-color: var(--white);
}

.hidden-trigger {
  display: none;
}

.hidden-trigger:checked ~ .circle {
  transform: scale(0.9);
  cursor: pointer;
  background-color: var(--white);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
}

.hidden-trigger:checked ~ .circle .svg {
  transform: rotate(45deg);
}

.hidden-trigger:checked ~ .subs button:nth-of-type(1) {
  transform: translate(0px, -100px) scale(1);
  opacity: 1;
  transition: 0.1s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(2) {
  transform: translate(75px, -75px) scale(1);
  opacity: 1;
  transition: 0.2s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(3) {
  transform: translate(100px, 0px) scale(1);
  opacity: 1;
  transition: 0.3s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(4) {
  transform: translate(75px, 75px) scale(1);
  opacity: 1;
  transition: 0.4s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(5) {
  transform: translate(0px, 100px) scale(1);
  opacity: 1;
  transition: 0.5s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(6) {
  transform: translate(-75px, 75px) scale(1);
  opacity: 1;
  transition: 0.6s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(7) {
  transform: translate(-100px, 0px) scale(1);
  opacity: 1;
  transition: 0.7s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(8) {
  transform: translate(-75px, -75px) scale(1);
  opacity: 1;
  transition: 0.8s;
}
/*file button*/
.fbutton {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: FFF;
  color: rgb(26, 77, 46);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  transition: all .6s ease;
}

.fbutton:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.fbutton:focus,button:active {
  opacity: .85;
  box-shadow: none;
}

svg.fbutton {
  width: 30px;
  height: 30px;
}
.fileNmBox{
	border:none;
}
.float-clear{
	clear:both;
}