@charset "UTF-8";

/* 전체 레이아웃
---------------------*/
body{
	width:1200px;
	margin:0 auto;
	background:#FFFFFF;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#6C6C6C;
}
/* 페이지 레이아웃
---------------------*/
.page-main{
	background:#FFFFFF;
	margin:40px 0;
/* 	border-radius:5px;삭제!
	box-shadow:0 2px 6px rgba(100,100,100);삭제! */
	min-height:650px;
}
.content-main{
	padding:10px 20px;
	
}

/* 공통 메시지
---------------------*/
.result-display{
	width:400px;
	height:160px;
	margin:100px auto;
	display:flex;
	flex-direction:column;
	align-items:center; /* 세로정렬 */
	justify-content:center; /* 가로정렬 */
	font-size:16px;
}

/*공통 정렬
---------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/*
메뉴
---------------------
#main_logo{
	padding-top:20px;
}

/* 공통 등록, 수정 폼
---------------------*/
form{
	width:800px;
	margin-left:120px;
	padding:0;
}
form ul li{
	clear:both;
}
form ul li label{
	margin-right:0px;
	width:120px;
	float:left; /*태그를 왼쪽으로 정렬*/
	padding:0;
}
ul {
	list-style:none;
	padding:0;
}
input{
	margin-bottom:20px;
	height:30px;
	border:1px solid rgb(182, 186, 183);
}
input[type="text"],input[type="password"],input[type="email"],input[id="zipcode"]{
	width:200px;
	border-radius:5px;
}



/* 회원가입,로그인,회원정보찾기 헤더
---------------------*/
#header_login img, #header_login hr{
	padding:0;
}
#header_login img{
	width:45px;
	margin-right:10px;
}
#header_login h1{
	display:inline-block;
}
#header_login h1 a{
		color:rgb(26, 77, 46);
}


/* 회원가입
---------------------*/
.register-header h2{
	padding:0 140px;
}
.register-top{
	text-align:center;
}
.background-box{
	display:inline-block;
	padding:8px 60px;
	border-radius:4px;
	background-color:rgb(26, 77, 46);
}
.register-top .background-box span {
	font-size: 18px;
	color: #FFF;
}

.register-main{
	padding:10px 20px;
	display: flex;
	flex-direction:row;
}

.register-main > span{
	padding:10px 0 0 140px;
	font-size:18px;
	font-weight:bold;
	color:rgb(26, 77, 46);
	width:180px;
}
.register-member label{
	font-size:15px;
	font-weight:bold;
	color:rgb(26, 77, 46);
}
#register_form{
	margin:0 30px;
}
#register_form input:focus{
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
}
#register_form input[type="radio"]:focus{
	box-shadow:none;
}

/*아이디중복, 우편번호찾기 버튼*/
#id_check{
	width:90px;
	border-radius:30px;
	background-color:rgb(26, 77, 46);
	color:#FFF;
	margin-bottom:0;
	cursor:pointer;
}
input[value="우편번호 찾기"]{
	width:105px;
	border-radius:30px;
	background-color:rgb(26, 77, 46);
	color:#FFF;
	cursor:pointer;
}

#id_checkmessage, #passwd_checkmessage{
	font-size:15px;
	font-weight:bold;
}

#register_form input[id="id"]{
	width:200px;
	margin-bottom:0;
}

.form-notice1{
	font-size:14px;
	margin:0 0 20px 120px;
	color:rgb(89, 89, 89);
}	
.register-phone{
	display:flex;
}
.form-notice2{
	font-size:14px;
	margin:0 0 0 10px;
	color:rgb(89, 89, 89);
}
/*radio*/
.test{
	width:120px;
	display:flex;
	float:left;
}
.test input{
	margin:0 5px 0 0;
	padding:0;
}
.preference-group {
	clear:both;
}
.preference-group label{
	font-weight:normal;
	font-size:14px;
	color:black;
}
.container{
	float:left;
	margin-bottom:20px;
}


#register_form hr{
	margin-left:-350px;
}
.register-button{
	padding:40px 70px;
}
/*회원가입,홈으로 버튼*/
.register-button input[type="submit"]{
	width:95px;
	height:40px;
	border-radius:5px;
	border:1px solid #4F6F52;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	margin-right:10px;
	font-weight:bold;
}

.register-button input[type="button"]{
	width:95px;
	height:40px;
	border-radius:5px;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	font-weight:bold;
	border:1px solid #4F6F52;
}
.register-button input[type="submit"]:hover, .register-button input[type="button"]:hover{
	border:1px solid rgb(26, 77, 46);
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
}

/* 로그인
---------------------*/
.login-top{
	font-size:25pt;
	margin:50px;
	text-align:center;
}
.login-top a{
	color:rgb(26, 77, 46);
}
.login-top a:hover{
	color:rgb(26, 77, 46);
}

#login_form, newsHead_form{
	width:300px;
	margin:0 auto;
	padding:0;
	border:none;
}
#login_form ul{
	padding:0;
}
.floating-label{/*floating label 설정*/
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
	border:1px solid rgb(182, 186, 183);
	margin-bottom:10px;
	transition: box-shadow 0.25s ease;
}

.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.05rem 0.75rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
 .floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
	border:2px solid rgb(43, 122, 56);
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
}
.floating-label > .form-input:focus + label, 
 .floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);      
}

.login-submit{
	width:300px;
	margin:0 auto;
	padding:0;
}
.login-submit input{
	width:320px;
	height:50px;
	padding:0.55rem 0.55rem;
	border-radius:5px;
	border:none;
	background-color:rgb(26, 77, 46);
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	margin-bottom:0;
}
#login_form input[type="submit"]:hover{
	border:2px solid rgb(79, 111, 82);
	background-color:#FFF;
	color:rgb(26, 77, 46);
}
.login-help-btn{
	margin:0 0 0 550px;
}
.login-help-btn input{
	border:none;
	text-decoration:none;
	background: none;
	padding:0;
	font-size:15px;
	margin:0;
}
.login-help-btn input:hover{
	text-decoration:underline;
	cursor:pointer;
}
.login-btn{
	width:300px;
	margin:60px auto;
	padding:0;
}
.login-btn input{
	width:320px;
	height:50px;
	padding:0.55rem 0.55rem;
	border:1px solid #4F6F52;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	border-radius:5px;
	font-size:18px;
	margin-bottom:10px;
}
.login-btn input:hover{
	border:1px solid rgb(26, 77, 46);
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
	color:rgb(34, 99, 50);
}

/* 로그인 실패 - 정지회원
---------------------*/
.login-info h2{
	padding:0 180px;
}
.login-info{
	font-weight: bold;
}
.login-info input{
	width:90px;
	height:35px;
	background-color:rgb(26, 77, 46);
	color:#FFF;
	border:none;
	border-radius: 5px;
	font-size: 15px;
	margin:10px;
	cursor:pointer;
}

/* 아이디찾기/비밀번호찾기
---------------------*/
.find-menu{
	margin:0 180px;
}
.find-h{
	margin:0;
	padding:0 0 0 5px;
}
.find-h h2, .find-h h4{
	display:inline-block;
	width:150;
	margin-right:30px;
	
}
.find-menu2{
	margin:50px 200px;
	display: flex;
	flex-direction: column;
}
.findID-menu2 h3{
	display:inline-block;
	width:150;
	margin-right:30px;
	
}
div.findID-main, div.findPW-main{
	margin:50px auto;
}
div.findPW-main{
	margin:20px auto;
}

#findID_form{
	width:350px;
	margin:0 auto;
	padding:0;
	border:none;
}
#findPW_form{
	width:400px;
	margin:0 auto;
	padding-left:0spx;
	border:none;
}
#findPWNoID_form{
	width:400px;
	margin:55px auto;
	padding:0;
	border:none;
	margin-bottom:30px;
}
#findPWNoID_form ul li label{
	width:80px;
	padding-left:30px;
}
#findID_form ul {
	padding: 0;
}

#findID_form ul li{
	display:flex;
}
#findID_form ul li label{
	width:90px;
	margin-right:0px;
	padding-right:0px;
	padding-left:20px;
}

#findID_form input[type="text"], #findID_form input[type="email"] {
	width:200px;
	height:35px;
    padding: 10px;
    border:1px solid rgb(182, 186, 183);
    border-radius: 5px;
    box-sizing: border-box;
    font-size:14px;
}
#findID_form input[type="text"]:focus, #findID_form input[type="email"]:focus {
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.findID-button, .findPW-button {
    text-align:center;
    margin-top:20px;
    margin-bottom:0;
    padding:0;
}
.findPWNoID-button{
    text-align:center;
    margin-top:50px;
    margin-bottom:0;
    padding:0;
}

.findID-button input[type="submit"]{
	width:100px;
	height:35px;
	background-color:rgb(26, 77, 46);
	color:#FFF;
	border:none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom:20px;
	cursor:pointer;
}
#findID-result {
	margin-top:20px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#findID-result #result_msg2{
	font-size:20px;
	font-weight:bold;
}

.findID-btn{
	text-align:center;
	margin-top:30px;
}
.findID-btn input, .findPW-button input[type="submit"], .findPWNoID-button input{
	width:95px;
	height:40px;
	border-radius:5px;
	border:1px solid #4F6F52;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	margin-right:10px;
	font-weight:bold;

}
.findID-btn input:hover, .findPW-button input[type="submit"]:hover, .findPWNoID-button input:hover{
	width:95px;
	height:40px;
	border-radius:5px;
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
	font-size:15px;
	margin-right:10px;
	font-weight:bold;
}
.findID-btn input:last-child{
	width:110px;
}
.ID-setted{
	margin-bottom:30px;
}
.ID-setted span{
	font-size:18px;
	font-weight:bold;
	color:rgb(31, 181, 68);
}

/*뉴스게시판*/
.newsHead h2{
	text-align:center;
}
.newsHead form{
	
}

/* MY페이지
---------------------*/
/* .mypage-div{
	width:48%;
	float:left;
	padding:5px;
}
.mypage-end{
	clear:both;
}
.my-photo{
	object-fit:cover;
	정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정
	object-position:top;
	사각형의 모서리 둥근 정도를 지정하는 속성,50%를 지정하면 완전한 원
	border-radius:50%;
} */
/* 공통 목록
---------------------*/
form#list_search_form{
	border:none;
	margin:0 auto;
	width:500px;
}
.search-form-center{
	display:inline;
	width:600px;
	
}
ul.list_search{
	width:350px;
	list-style:none;
	padding:0;
	margin:0 auto;
	text-align:center;
}
ul.list_search li{
	margin:0 auto;
	padding:0;
	display:inline-block;
}
input[type="search"]{
	width:200px;
	box-sizing: border-box;
}
input[type="submit"].list_search, select.search{
	width:55px;
}
.list_search{
	height:30px;
	border-radius:5px;
}

.list-space{
	margin-bottom:10px;
}

table{
	width:100%;
	border-collapse:collapse;
	margin:50px 0;
}
table td, table th{
	border:1px solid #d4d2d2;
	padding:5px;
	border-left:0;
	border-right: 0;
}

table tr{
	line-height:2.5rem;
	height:40px;
}
table td:first-child, table td:last-child, td.text-center{
	text-align:center;
}


/*뉴스게시판 리스트*/

.list-btn{
	margin-right:20px;
}

/*게시판 버튼*/
.list-btn input, #list_search_form input[type="submit"]{
	width:60px;
	height:30px;
	border-radius:5px;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:14px;
	font-weight:bold;
	border:1px solid #4F6F52;
}
.list-btn input:hover, #list_search_form input[type="submit"]:hover{
	border:1px solid rgb(26, 77, 46);
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
}


/* 게시판 글상세
---------------------*/
ul.detail-info li{
	display:inline-block;
}
.detail-img{
	max-width:500px;
	margin-left:30px;
}
ul.detail-sub{
	margin:0;
	padding:0;
}
ul.detail-sub li{
	display:inline-block;
	width:49%;
	height:50px;
	vertical-align:middle;
}
ul.detail-sub li:first-child img{
	vertical-align:middle;
}
ul.detail-sub li:last-child{
	text-align:right;
	line-height:250%;
}


p#board_content{
	padding-right:20px;
	word-wrap:break-word;
}

/*글상세 수정 삭제 버튼*/
ul.btn-hide{
	border:1px solid #000;
	border-radius:5px;
	display:inline-block;
	width:80px;
	height:60px;
	text-align:right;
	padding-right: 10px; /* 오른쪽 패딩만 설정합니다 */
    position: absolute; /* 절대 위치 지정 */
    top: 100%; /* 부모 요소 아래에 위치하도록 지정합니다 */
    z-index: 1;
    display: none;
    background:#FFF;
}
.board-btn{
	display: flex;
	flex-direction:column;
	align-items:flex-end;
	position: relative;
}
.btn-hide li {
	margin-top:5px;
}


/*뉴스게시판 글 수정*/
input[type="file"]{
	border:none;
	margin-top:10px;
	
	font-size:14px;
	
}
#file_detail input[type="button"]{
	width:90px;
	height:25px;
	border-radius:5px;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:14px;
	font-weight:bold;
	border:1px solid #4F6F52;
}
#file_detail input[type="button"]:hover{
	border:1px solid rgb(26, 77, 46);
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
}

/* #output_fav{
	cursor:pointer;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#EEEEEE;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
textarea.rep-content{
	width:90%;
	height:50px;
	margin:10px;
}
div#re_first, div#mre_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#re_second, div#mre_second{
	float:left;
	width:19%;
	margin-bottom:10px;
}
div#loading{
	text-align:center;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form#mre_form{
	border:none;
	margin:5px;
} */



/* 게시판 글 수정
---------------------*/
#file_detail{
	margin:5px 0 0 130px;
}











