@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Noto+Sans+KR:wght@100..900&family=Pacifico&display=swap');

body{
	width:960px;
	margin:0 auto;
	background:#FFFFFF;
	margin-top:0;
	padding-top:0;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
.page-main{
	width:100%;
	background:#FFFFFF;
	margin:0 auto;
	border:none;
	min-height:650px;
	margin-top:0 !important;
	padding-top:0;
}
.page-main h4{
	text-align:center;
}
ul {
	list-style:none;
}
form#search_form h2{
	float: right;
	margin-left:300px;
}

table.main-table{
	border:none;
	width:80%;
}

tr.main-tr{
	border:none;
}
.main-td{
	border:none;
	padding:10px;
	font-size:15px;
}
/*마이페이지 header
-----------------------*/
#mypage-main{
	margin:0 auto;
	width:1000px;
	height:230px;
	background:rgb(26, 77, 46);
	color:rgb(255, 255, 255) !important;
	margin-top:50px;
}
div.mypage-div ul{
	list-style:none ;
	margin-top:26px;
	text-align:right;
	color:rgb(255, 255, 255) !important;
	
}
div.mypage-div ul li{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	width:150px;
	margin-top:15px;
	font-size:16pt;
	clear:both;
	position:relative;
	right:70px;
}
div.mypage-div ul li label{
	margin-right:50px;
	color: rgb(232, 223, 202);
	font-weight:bold;
}
div.mypage-div ul li#myphoto{
	position:relative;
	top:40px;
	right:50px;
}
div.myul ul{
	margin-top:20px;
	margin-left:70px;
}
div.myul ul li{
	font-size:12pt !important;
	text-align:left;
	
 }
div#mypage-main div.mypage-div ul li a{
	color:rgb(255, 255, 255) !important;
}
.align-center input[type="file"]{
	margin:0;
}

#main_nav{
	display:none;
}
.main-nav-container{
	display:none;
}
.mypage-button{
	margin:30px;
	
}
.mypage-button input[type="button"]{
	margin-top: 20px;
	width:80px;
	height:40px;
	border-radius:5px;
	background-color:#1a4d2e;
	color:#FFFFFF;
	font-size:15px;
	cursor:pointer;
}
.my-photo{
	object-fit:cover;
	/*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
	object-position:top;
	/*사각형의 모서리 둥근 정도를 지정하는 속성,50%를 지정하면 완전한 원*/
	border-radius:50%;
	margin-right:50px;
	z-index:30;
}
img#penimage{
	position:relative;
	top:100px;
	left:110px;
	z-index:999;
	border-radius:50%;
	background:white;
	cursor:pointer;
	
}
.updatephoto input[type="button"]{
	margin-left:50px;
	cursor:pointer;	
}

#photo_btn{
	width:30px;
	height:30px;
	padding: 0.01px 0.01px;
	position:absolute;
	top:50px;
	left:73px;
	border-radius:50%;
	cursor:pointer;
	border: none;
}
img#penimgae2{
	top:55px;
	left:300px;
	border-radius:50%;
}

/*회원 상세정보*/
.detail-content{
	text-align:left;
}
.detail-content ul{
	margin-top:10px;
	margin-left:150px;
	font-size:18px;
	line-height:500%;	
	color:rgb(26, 77, 46);
	font-weight:bold;
	
}
.detail-button{
	margin-left:300px;
	padding:40px 70px;
	
}
.detail-button input[type="button"]{
	width:95px;
	height:40px;
	border-radius:5px;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	font-weight:bold;
	border:1px solid #4F6F52;
}
.detail-button input[type="button"]:hover{
	border:1px solid rgb(26, 77, 46);
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
}

/*테이블*/
table{
	width:80%;
	border:1px solid #000;
	border-collapse:collapse;
	margin-top:20px;
	margin-left:100px;
}
table th{
	background:rgb(232, 223, 202);
}
table td, table th{
	border:1px solid #000;
	padding:5px;
	text-align:center;
}
/*회원 수정*/
#modify_form{
	margin-left:300px;
}
.modify-button{
	margin-left:100px;
}
.modify-button input[type="button"]{
	width:95px;
	height:40px;
	border-radius:5px;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	font-weight:bold;
	border:1px solid #4F6F52;
}
.modify-button input[type="submit"]{
	width:95px;
	height:40px;
	border-radius:5px;
	border:1px solid #4F6F52;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	margin-right:10px;
	font-weight:bold;
}
/*회원 탈퇴*/
#delete_form{
	margin-left:300px;
}
.delete-button{
	margin-left:100px;
}
.delete-button input[type="button"]{
	width:95px;
	height:40px;
	border-radius:5px;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	font-weight:bold;
	border:1px solid #4F6F52;
	cursor:pointer;
}
.delete-button input[type="submit"]{
	width:95px;
	height:40px;
	border-radius:5px;
	border:1px solid #4F6F52;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	margin-right:10px;
	font-weight:bold;
	cursor:pointer;
}

/*활동내역*/

.post-header h2{
	text-align:center;
}

/*회원 찜 목록*/
.fav-button input[type="button"]{
	width:95px;
	height:40px;
	border-radius:5px;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	font-weight:bold;
	border:1px solid #4F6F52;
	cursor:pointer;
	margin-top:100px;
	margin-left:20px;
}

/*test-header*/
body{
	width:1000px;
	margin:0 auto;
	background:#FFF;
}
.page-main{
	background:#FFFFFF;

	min-height:650px;
}
.content-main{
	padding:10px 20px;
}
/*신고*/
.hide {
	display:none; 
	width:600px !important;
	position:fixed;
	z-index:999 !important;
	bottom:400px;
	margin-bottom:400px;
	border:1px solid #999 !important;
	background:white;
}




/* 정렬 */
.align-left{
	text-align:left;
}
/* 최상단 nav 바 */
#mini_nav{
	float:right;
}
#mini_nav ul{
	list-style:none;
	margin-right:10px;
	padding:0;
}
#mini_nav ul li{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	margin-bottom:30px; 
	padding-top:10px;
	margin-right:8px;
}
.nav:visited, .nav:link, .inner-menu a{
	text-decoration:none;
	color:#336633;
}

.nav:visited, .nav:visited, .inner-menu a{
	text-decoration:none;
	color:#336633;
} 
.nav:visited, .top-nav:link, .inner-menu a{
	text-decoration:none;
	color:#336633;
}

.nav:visited, .top-nav:visited, .inner-menu a{
	text-decoration:none;
	color:#336633;
}


#main_logo a{
	font-size:40px;
	font-weight:bold;
}
#main_logo a img{
	margin-right:10px;
}
#main_logo ul{
	list-style:none;
	display:flex;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: space-between;  
}
#main_logo ul li{
	margin-top:10px;
}
#main_logo ul li:first-child {
	margin-right:auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#main_logo ul li:nth-child(2){
	margin-left: auto;
	margin-right:10px;
	margin-top:32px;
}
#main_logo ul li:last-child{
	margin-right:45px;
	margin-top:32px;
}


/* nav */
.click-image{
cursor: pointer;	

}

.main-nav-container{
	text-align:center;
}

#main_nav{
	margin:0 auto;
	margin-top:30px;
	padding:20px 0;
	list-style:none;
	text-align:center;
	display:table;
}
#category_items{
	margin:0;
	padding:0;
	list-style:none;
}

#main_nav > li{
	float:left;
	height:40px;
	vertical-align: middle;
	display: table-cell;
	
	border-top:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
}
#main_nav > li:hover{
	background:#336633;
}
#main_nav > li:hover > a{
	color:#FFF;
}

#main_nav > li > a{
	font-size:1.15rem;
	text-align:center;
	text-decoration:none;
	letter-spacing:0.05rem;
	display:block;
	width:160px;
	padding:8px 2px;
}
#category_items{
	position:absolute;
	background:white;
	text-align:center;
	/* display:none; */
	border-radius:0 0 7px 7px;
	
	display: block;
    visibility: hidden;
	opacity:0.1;
	transform:translateY(-10%);
	transition:opacity 0.8s ease, transform 0.5s ease;
	
}
#category_items > li{
	padding:9.5px 33px;
	text-decoration:none;
	box-sizing:border-box;
}
#category_items > li a{
	color:#336633;
}
#main_nav > li:hover #category_items{
	display:block;
	visibility:visible;
	z-index:100;
	opacity:1;
	transform:translateY(0);
	transition:opacity 0.8s ease, transform 0.5s ease;
}
#main_nav:first-child:hover #category_items{
	box-shadow:0 0 4px rgba(0, 0, 0, 0.5);
}

#category_items > li:hover{
	background:#336633;
	border:1px solid #C5DEDA;
	border-radius:5px;
	padding:8.5px 32px;
	transition:border 0.2s ease;
}
#category_items > li:hover a{
	color:#f0eded;
}

/* 도서 */
:root {
    --btn-width : 8vw;
    --btn-min-width : 5px;
    --btn-height : 4.4vh;
    --btn-min-height : 5px;
    --menu-height : calc(var(--btn-height) * 11);
    --menu-min-height : calc(var(--btn-min-height) * 2);
    --font-size : 1vw;
}

#container {
    position: relative;
    display: flex;
    flex-flow: column;
} 
#label {
    width: var(--btn-width);
    min-width: var(--btn-min-width);
    height: var(--btn-height);
    min-height: var(--btn-min-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
	color:#336633;
}
#label:hover{
	color:#FFF;
	cursor:pointer;
}


#menu {
    width: var(--btn-width);
    min-width: var(--btn-min-width);
    height: 0;
    background-color: whitesmoke;
    border-radius: var(--border-rad);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: calc(var(--btn-height) + 1vh);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index:999;
}

	
#toggle:checked ~ #menu{
    height: var(--menu-height);
    min-height: var(--menu-min-height);
    opacity: 1;
    color:#FFF;	
}
.menu-name {
    width: var(--btn-width);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: 50;
    line-height: 20px;	
}

ul {
	list-style:none;
	padding:0;
}

ul li,a{
	text-decoration: none;
	color: rgb(0,0,0);
}
/*마일리지 내역*/
.mileage-list td{
    --value: 3.14159265359;
    /* 소수점 이하 두 자리까지 자름 */
    --rounded-value: calc(var(--value) / 1);
} 
#allpoint{
	float:right;
	font-size:19pt;
	border:1px solid #000;
	
} 
 
/*구매내역 버튼*/
.list_search input[type="submit"]{
	width:45px;
	height:30px;
	border-radius:5px;
	border:1px solid #4F6F52;
	background-color:#FFF;
	color:rgb(26, 77, 46);
	font-size:15px;
	margin-left:120px;
	font-weight:bold;
	cursor:pointer;
}

/* 글꼴 */

*{
	font-family: 'Noto Sans KR', serif;
} 
#doread{
	font-family: 'Pacifico', serif;
}

.comment-content{
	display:inline-block;
	width:400px;
	max-width:600px;
	overflow:hidden;
	height:20px;
	white-space : nowrap;
	text-overflow : ellipsis;
}
.qna-content{
	display:inline-block;
	width:300px;
	max-width:500px;
	overflow:hidden;
	height:20px;
	white-space : nowrap;
	text-overflow : ellipsis;
}
.board-title{
	display:inline-block;
	width:150px;
	max-width:250px;	
	overflow:hidden;
	height:20px;
	white-space : nowrap;
	text-overflow : ellipsis;
}



/*주문목록*/
form#list_search_form{
	margin:0 auto;
	width:300px;
}
ul.buylist-search{
	display:flex;
	text-align:center;
}
ul.buylist-search li{
	margin:3px;
	/* display:inline-block; */
}
ul.buylist-search input[type="submit"]{
	margin:0;
	height:25px;
}
