@charset "UTF-8";

.mypage-div{
	width:900px;
	background-color:#1a4d2e;
	display:flex;
	margin: 8px ;
	text-align:center;
	
}
.mypage-div ul{
	margin:0;
	padding:2px 20px 20px 20px;
	white-space: nowrap;
	
}
.mypage-div ul li{
	padding-top:8px;
	font-size:14px;
	color:#FFFFFF;
}
.mypage-div ul li.page-name{
	font-size:30px;
	white-space: nowrap;
	
}
.mypage-div ul li.mypage-mid{
	font-size:30px;
}
.mypage-title{
	font-size:20px;
}
.outer-main{
	float: left;
}
.mypage-button{
	float: left;
}
.inner-menu > a{
	vertical-align:middle;
	text-decoration-line: none;
	color:#FFFFFF;
}
#main_nav{
	display:none;
}
