@charset "UTF-8";

div#category_items{
	display:none;
	margin-top:10px;
	background-color:white;
	position:relative;
	z-index: 50;
};

div#category_items>ul{
	list-style:none;	
}

#category_items>ul li{
	border:initial;
	vertical-align:middle;
	background-color:white;
	color:black;
}
 
#category_items>ul li a{
	text-decoration: none;
	color:black;
}

#category_items>ul li a:hover{
	text-decoration: none;
	color:#6C6C6C;
}

div#main_nav>ul>li:hover div#category_items{
	display:block;
}

/* 메인
---------------------*/
.image-space .horizontal-area{
	margin:2px;
	padding:3px;
	width:220px;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}

.image-space .horizontal-area img{
	width:215px;
	height:195px;
}


.image-space .float-clear{
	clear:both;
}


/* 도서 상세 페이지
---------------------*/
div.category-tag{
	width:100px;
	height:23px;
	text-align:center;
	background-color:rgb(232,223,202);
	color:rgb(26, 77, 46);
	border-radius: 10px;
}
.book-image{
	width:400px;
	margin:0 0 10px 0;
	float:left;
}

.book-detail form{
	border:none;
	width:470px;
	margin:0;
	float:left;
}

.book-detail ul li#button-margin{
	margin-top: 25px;
}
.book-detail h1,h3{
	margin: 10px 0 10px;	
}

.order-button{
	width:210px;
	height:70px;
	border-radius:30px;
	background-color:rgb(26, 77, 46);
	color:rgb(232,223,202);
	border:none;
	box-shadow:none;
}

.order-button:hover{
	background-color:rgb(232,223,202);
	color:rgb(26, 77, 46);
}

.book-image img{
	height:342px;
}

label#quantity_label{
	width:70px;
}
input#book_quantity{
	width:200px;
}
