@charset "UTF-8";

div#category_items{
	display:none;
	margin-top:10px;
	background-color:white;
	position:relative;
	z-index: 50;
};

div#category_items>ul{
	list-style:none;	
}

#category_items>ul li{
	border:initial;
	vertical-align:middle;
	background-color:white;
	color:black;
}
 
#category_items>ul li a{
	text-decoration: none;
	color:black;
}

#category_items>ul li a:hover{
	text-decoration: none;
	color:#6C6C6C;
}

div#main_nav>ul>li:hover div#category_items{
	display:block;
}

/* 메인
---------------------*/
.image-space .horizontal-area{
	margin:2px;
	padding:3px;
	width:220px;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}

.image-space .horizontal-area img{
	width:215px;
	height:195px;
	object-fit:contain;
}


.image-space .float-clear{
	clear:both;
}


/* 도서 상세 페이지
---------------------*/
div.category-tag{
	width:100px;
	height:23px;
	text-align:center;
	background-color:rgb(232,223,202);
	color:rgb(26, 77, 46);
	border-radius: 10px;
}
.book-image{
	width:400px;
	height:400px;
	margin:0 0 10px 0;
	float:left;
}

.book-image ul{
	margin:0px;
}

.book-image li{
	padding:0px;
}

.book-image img{
	width:400px;
	height:400px;
	object-fit:contain;
}


.book-detail form{
	border:none;
	width:470px;
	margin:0;
	float:left;
}

.book-detail h1,h3{
	margin: 10px 0 10px;	
}

.order-button{
	width:210px;
	height:70px;
	border-radius:30px;
	background-color:rgb(26, 77, 46);
	color:rgb(232,223,202);
	font-size:15pt;
	border:none;
	box-shadow:none;
}

.order-button:hover{
	background-color:rgb(232,223,202);
	color:rgb(26, 77, 46);
}

#wish{
	width:430px;
	height:30px;
	background-color:rgb(232,223,202);
	color:rgb(26, 77, 46);
	border:none;
	margin-bottom:5px;
}

#wish:hover{
	background-color:#EEEEEE;
}

#button-margin{
margin-top: 25px;
}

label#quantity_label{
	width:70px;
}
input#book_quantity{
	width:200px;
}
.book-info{
	padding:0px;
}

.book-info h3,p,ol li{
	margin-left:30px;
}

.info-tab a{
	padding:0 10px 0 10px;
	text-decoration:none;
	color:rgb(26, 77, 46);
	font-size: 15pt;
}

#change_info input{
	border:none;
	border-radius:30px;
	width:200px;
	height:25px;
	background-color:rgb(26, 77, 46);
	color:white;
	float:right;
}


#fav-tag{
	border:none;
	border-radius:50%;
	width:30px;
	height:30px;
	background-color:rgb(232,223,202);
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 5px;
}

#book_review table{
	width:800px;
	margin-left:30px;
}