@charset "UTF-8";

div#category_items{
	display:none;
	margin-top:10px;
	background-color:white;
	position:relative;
	z-index: 50;
};

div#category_items>ul{
	list-style:none;	
}

#category_items>ul li{
	border:initial;
	vertical-align:middle;
	background-color:white;
	color:black;
}
 
#category_items>ul li a{
	text-decoration: none;
	color:black;
}

#category_items>ul li a:hover{
	text-decoration: none;
	color:#6C6C6C;
}

div#main_nav>ul>li:hover div#category_items{
	display:block;
}

/* 메인
---------------------*/
.image-space .horizontal-area{
	margin:2px;
	padding:3px;
	width:220px;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}

.image-space .horizontal-area img{
	width:215px;
	height:195px;
}


.image-space .float-clear{
	clear:both;
}