@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 

body{
	width:960px;
	margin:0 auto;
	
	font-family:"Noto Sans KR", sans-serif;
}
.page-main{
	background:#FFFFFF;
	margin:40px 0;
	border:none;
	box-shadow:0 2px 6px rgba(100,100,100,0.3);
	min-height:650px;
}
.content-main{
	padding:10px 20px;
}
#main_logo{
	padding-top:20px;
}

/* #main_nav{
	padding:2px 10px 20px 10px;
	height:20px;
	background-color:#336633;
} */
#main_nav ul{
	list-style:none;
	margin:0;
	padding:0;

}
#main_nav ul li{
	display:inline-block;
	width:100px;
	text-align:center;
	vertical-align:middle;
	padding-top:8px;
}
#main_nav ul li img.my-photo{
	vertical-align:middle;
}
#main_nav ul li.menu-profile{
	padding-top:5px;
	width:25px;
}
#main_nav ul li.menu-logout{
	width:150px;
	text-align:left;
}
form{
	border-style:none;
}
/*관리자 페이지 상단바*/
#adminpage{
	margin:0  auto;
	text-align:center;
	vertical-align:middle;
	width:800px;
	height:163px;
	background:rgb(26, 77, 46);
	color:rgb(255, 255, 255) !important;
	
}

.adminnav ul{
	list-style:none;
	margin:0;
	padding:0;

}
.adminnav ul li{
	display:inline-block;
	width:150px;
	text-align:center;
	vertical-align:middle;
	padding-top:8px;
	font-size:16pt;
	
}
.adminnav ul li a{
	color:rgb(255, 255, 255) !important;
}
#profileimage{
	
	
	text-align:left;
}
.input-style {
  padding: 3px;
  margin:8px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input-style:focus {

  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  margin:0 5px;
  padding: 0.4em 1.0em;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0.3em;
  background: rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);

}
hr{
	background: rgb(224, 224, 224);
}
