@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 

body{
	width:960px;
	margin:0 auto;
	
	font-family:"Noto Sans KR", sans-serif;
}
.page-main{
	background:#FFFFFF;
	margin:40px auto;
	border:none;
	min-height:650px;
}
h2{
	margin:0 100px;
}
ul{
	list-style:none;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

/*관리자 페이지 상단바*/
#adminpage{
	margin:0  auto;

	width:800px;
	height:163px;
	background:rgb(26, 77, 46);
	color:rgb(255, 255, 255) !important;
	
}


div.adminnav ul{
	list-style:none ;
	margin:0 auto;

}
div.adminnav ul li{
	display:inline-block;
	width:400px;
	padding-top:8px;
	font-size:16pt;
	clear:both;
}
form{
	width:600px;
	margin:0 auto;
	border:none;
	padding:10px 10px 10px 30px;
	border-style:none;
}
ul li label{
	width:150px;
	float:left !important; /*태그를 왼쪽으로 정렬*/
}
div#adminpage div.adminnav ul li a{
	color:rgb(255, 255, 255) !important;
}
#profileimage{
	
	
	text-align:left;
}
.input-style {
  padding: 3px;
  margin:8px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input-style:focus {

  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  margin:0 5px;
  padding: 0.4em 1.0em;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0.3em;
  background: rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);

}
hr{
	background: rgb(224, 224, 224);
}
/*
검색*/
#header-search{
	width:600px;
	list-style:none;
	padding:0;
	padding:0 100px;
}
#header-search{
	margin:0 auto;
	padding:0;
	display:inline;
}
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 600px;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid rgb(232, 223, 202);
  border-radius: 20px;
  outline: none;
  
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: rgb(232, 223, 202);
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 48, 73, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.icon {
  position: absolute;
  color: rgb(232, 223, 202);
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}





/*header2*/
#main_logo{
	padding-top:20px;
}

/* #main_nav{
	padding:2px 10px 20px 10px;
	height:20px;
	background-color:#336633;
} */
#main_nav ul{
	list-style:none;
	margin:0;
	padding:0;

}
#main_nav ul li{
	display:inline-block;
	width:300px;
	text-align:center;
	vertical-align:middle;
	padding-top:8px;
	margin-right:100px;
}
#main_nav ul li.menu-logout{
	width:200px;
	text-align:left;
	margin:0 auto;
}

