@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
.e_book{
	width: 550px;
	height:750px;
}
#book_title{
	position:fixed;
	background:white;
}
#book_content{
	margin:0 30px;
	padding-top:120px;
}
#mini_nav ul{
	list-style:none;
	margin-right:10px;
	padding:0;
}
#mini_nav ul li{
	display:inline-block;
	text-align:center;
	vertical-align:middle; 
	padding-top:10px;
	margin-bottom:30px;
	margin-right:8px;
}
#mini_nav{
	float:right;
}
.disabled{
	background:rgb(224, 224, 224);
	color:rgb(224, 224, 224);
}
#pre{
	transform: scaleX(-1);
}
#prespan{
	transform: scaleX(-1);
}
.previous{
	position:fixed;
	left:30%;
	bottom:20px;
	display:inline-block;
	width:300px;
}
.next{
	position:fixed;
	right:-10%;
	bottom:20px;
	display:inline-block;
	clear:both;
	width:300px;
}
.cta {
  display: flex;
  padding: 11px 11px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgb(232, 223, 202);
  background: #336633;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  width:50px;
  height:30px;
  text-align:center;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg)
}

.second {
  width: 10px;
  margin-left: 10px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: rgb(232, 223, 202);
  }

  50% {
    fill: #FBC638;
  }

  100% {
    fill: rgb(232, 223, 202);
  }
}
.button2 {
	display: inline-block;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	z-index: 1;
	color: #090909;
	margin:0 5px;
	padding: 0.4em 1.0em;
	cursor: pointer;
	font-size: 14px;
	border-radius: 0.3em;
	background: rgb(224, 224, 224);
	border: 1px solid rgb(224, 224, 224);	
}
.input-style {
  padding: 3px;
  margin:8px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  width:500px;
  
}
.input-style2 {
  padding: 3px;
  margin:8px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  width:200px;
  
}
ul li label{
	width:150px;
	text-align:center;
	float:left !important; /*태그를 왼쪽으로 정렬*/
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
	margin-left:40px;
}
form{
	width:900px;
	margin:0 auto;
	border:none;
	padding:10px 10px 10px 30px;
	border-style:none;
	z-index:1;
}



.modal{
	position:absolute;
	z-index:999;
	background:white;
	left:31%;
	top:30%;
	width:500px;
	margin-bottom:8px !important;
	border-radius:15px;
	border:1px solid #ccc;
	
}

.booksh{
	border:none;
	margin-bottom:8px;
}

table#usedtable{
	width:100%;
	border-collapse: collapse;
	margin:50px 0;
}
table#usedtable td, table th{
	border:1px solid #d4d2d2;
	padding:5px;
	border-left:0;
	border-right: 0;
}

table#usedtable tr{
	line-height:3rem;
	height:50px;
}
table#usedtable td:first-child, table#usedtable td:last-child, td.text-center{
	text-align:center;
}
.gide{
	z-index:999;
	border:1px solid #d4d2d2;
	border-radius:15px;
	width:250px;
}
.radio2{
	width:100px !important; 
}


/*usedboard 댓글*/
textarea#replyd{
	resize:none;
	width:816px;
	height:80px;
}

form#searchform{
	width:300px;
	margin:0 auto;
	border:none;
	padding:10px 10px 10px 30px;
	border-style:none;
	z-index:999;
}