@charset "UTF-8";
/* 정렬 */
.align-left{
	text-align:left;
}
/* 최상단 nav 바 */
#mini_nav{
	float:right;
}
#mini_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#mini_nav ul li{
	display:inline-block;
	width:70px;
	text-align:center;
	vertical-align:middle; 
	padding-top:10px;
}
/* 메인nav */
#main_nav{
	text-align:center;
}
#main_nav ul li{
	box-sizing:border-box;
	display:inline-block;
	width: 120px;
	height: 40px;
	border-bottom: 0;
	border: 1px solid #576979;
	text-align: center;
	color:#336633;
}
#main_nav ul li{
	background-color:#336633;
}
/* 검색창 */
#header-search{
	text-align:center;
}
#header-search ul{
	list-style:none;
	text-align:right;
	margin:0;
	padding:0;
}
#header-search ul li{
	display:inline-block;
	
}

.click-image{
	cursor:pointer;
}
