@charset "UTF-8";
/* 메인 */
/*  body{
	width:1500px;
	margin:0 auto;
	background: #558568;
} 
.page-main{
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 0 2px 6px rgba(100,100,100,0.3);
	min-height: 650px;
}  */

